%article#position

  %h1 Thanks a megawatt!

  %p Your application has been received by a real human at Youth Tree Inc.
  %p They'll soon start reading it with glee!

  %p
    For now, you can either #{link_to 'go back', root_path} and view all of our open positions or you can
    #{link_to 'view the position', @position} you just applied for.

  .image-container
    = image_tag 'the-fonz.png'