*.rbc
*.sw?
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
/config/settings.yml
/config/database.yml
/slurper_config.yml
/public/stylesheets/*.css
/public/stylesheets/**/*.css
/index/