%p.quick-links
  = link_to 'Apply for this position', [@position, :position_applications], :method => :post
  = position_expiry_time @position
  or
  = link_to 'View as a PDF', position_path(@position, :format => 'pdf')