%aside
  = partial 'search'

%article.with-sidebar
  %h1 Get Involved with Youth Tree Inc.
  
  %ul#all-positions
    -  @teams.each do |team|
      - team.positions.each do |position|
        %li.position
          %span.team-name= team.name
          = link_to position.title, position
          - if position.paid?
            %span.tag.paid Paid
          - else
            %span.tag.volunteer Volunteer