- if defined?(offset) && offset < 2
  - hint = "When a new application is received, each email listed here will be notified automatically.. #{link_to 'Click here', '#', :class => 'add-field'} to add another."
- else
  - hint = "#{link_to 'Click here', '#', :class => 'remove-field'} to remove this email."

- hint_extra = content_tag(:span, email_form.hidden_field(:_destroy, :class => 'destroy-field') + email_form.hidden_field(:id), :style => 'display: none;')

= email_form.input :email, :label => 'Email Address', :hint  => (hint.html_safe + hint_extra)