= form.inputs :name => "Metadata" do
  = form.input :title
  = form.input :key
  
= form.inputs :name => "Content" do
  ~ form.input :content, :as => :text, :input_html => {:rows => 24}, :hint => partial('admin/shared/markdown_reference'), :label => 'Content'
