%p#copyright-information
  &copy; Useful Inc., All Rights Reserved.
  %br
  %a{:href => "#"} Terms and Conditions.
  %a{:href => "#"} Terms of Use

%ul#supporter-information
  %li
    Hosting by
    %a{:href => "#"} ZettaGrid
  %li
    Website Development by
    %a{:href => "#"} The Frontier Group
  %li
    Website Design by
    %a{:href => "#"} Caimes Web