%nav
  %ul
    = ml "Home", :root    

%p#copyright-statement
  This site brought to you by #{link_to "Youth Tree", "http://www.youthtree.org.au/"}, &copy; #{copyright 2010}. All Rights Reserved.
  %br
  Web servers graciously provided by #{link_to "ZettaGrid", "https://zettagrid.com/"}.
  
