.pagination
  text-align: center
  font-weight: bold
  font-size: 0.9em
  padding: 0.5em 0
  line-height: 1.25em

  span
    color: $pagination-inactive

  span, a
    margin: 0 1em

  a
    +link-colors($pagination-link, $pagination-hover)

#content
  h1, h2, h3, h4, h5, h6
    font-weight: bold