@import "compass/utilities"

+reset-html5
+global-reset

footer, header nav
  display: none

.no-print
  display: none

.print-only
  display: auto

body
  line-height: 16px
  font-size: 12px

h1, h2, h3, h4, h5, h6, strong
  font-weight: bold

h1, h2, h3, h4, h5, h6
  margin-bottom: 16px

p
  margin-bottom: 16px

h1
  font-size: 34px
  line-height: 48px
h2
  font-size: 30px
  line-height: 32px
h3
  font-size: 24px
  line-height: 32px
h4
  font-size: 20px
  line-height: 32px
h5
  font-size: 16px
h6
  font-size: 12px