- unless (count = new_application_count).zero?
  %li
    #new-applications
      = link_to count, '#', :title => "Since your last login there #{count == 1 ? 'has' : 'have'} been #{pluralize(count, 'new position application')}"
