%h1 New Position Application Received

%p A new application was received for the position #{link_to @position.title, admin_position_url(@position)} for #{link_to @position.team.name, admin_team_url(@position.team)}.

%p You can view this application by clicking #{link_to 'Here', admin_position_position_application_url(@position, @application)}.