%h1 Your Position Application has been sent

%p Your application for #{link_to @position.title, position_url(@position)} for #{@position.team.name} has been received by a real human at Youth Tree Inc and they'll soon start reading it with glee!

%p For references sake, your application was available from #{link_to 'here', position_position_application_url(@position, @application)}.